<p>Saját weboldal, gyakorlás céljából</p>

<h1>Rólam</h1>

<img src="pictures/foci.jpg" width=400px height=300px  style="float: right">

<p>Zentai Pál vagyok jelenleg 19 éves, Isaszegen élek és programozást tanulok Budapesten a Külker technikumban.</br>
Szabadidőmben sokat videójátékozok, emelett a sport is életem része. Mindkettőt hobbimnak tekintem.</br>
Fontos számomra a család hétvégémet velük vagy barátokkal töltöm általában.</p>

<h2>Foci</h2>

<p>Nyáron lesz 8. éve hogy elkezdtem klub szinten focizni a helyi egyesületnél Isaszegen.</br>
Jelenleg az u19 és a felnőtt csapat tagaja vagyok.</br>
Ez azt takarja hogy mindkét csapat számít a megjelenésemre a hétvégi találkozón.</br>
Egy héten 2 felnőtt és 3 darab u19 edzés van, általában a 2 felnőttön mindig az ifi edzéseken ritkábban veszek részt.</br>
Majd ezt követi a hétvége ahol szombaton és vasárnap is mérközést játszok, mely kevés szabadidőt eredményez.</br>
Az öltöző családias és mindig jó a hangulat szeretem csinálni és ott tölteni az időmet.</br>
Követem a focit, napi szinten, szoktam meccseket is nézni, fogadni rájuk. Hala Madrid</p>

<h2>Videójáték</h2>

<img src="pictures/game.jpg" width=400px height=300px  style="float: right">

<p>Fiatal korom óta videójátékok szerelmese vagyok, és elszántságom mai napig tart.</br>
Pc-n játszok, volt konzolom ps4, de elromlott. Mindenféle játékkal játszok. Legfőképpen:</br>
Moba, FPS, stratégia és különböző party játékok. Legtöbbször ezt barátaimmal teszem.</br>
Legnépszerűbbek amikkel játszok a League of Legends, Valorant, Rainbow six siege, Fifa22.</br>
Követek nagyon sok streamert, versenyeket, bajnokságokat.</p>


